@model Butce_Garantile.Models.Gelir
@{
    ViewData["Title"] = "Gelir Düzenle";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<h1>Gelir Düzenle</h1>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Aciklama"></label>
        <input asp-for="Aciklama" class="form-control" />
        <span asp-validation-for="Aciklama" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tutar"></label>
        <input asp-for="Tutar" class="form-control" />
        <span asp-validation-for="Tutar" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tarih"></label>
        <input asp-for="Tarih" class="form-control" type="date" />
        <span asp-validation-for="Tarih" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GelirKaynağı"></label>
        <select asp-for="GelirKaynağı" class="form-control" onchange="showOtherInput(this)">
            <option value="">Seçiniz...</option>
            @foreach (var gelirKaynağı in Butce_Garantile.Models.Gelir.GelirKaynaklari)
            {
                <option value="@gelirKaynağı" selected="@(gelirKaynağı == Model.GelirKaynağı)">@gelirKaynağı</option>
            }
        </select>
        <span asp-validation-for="GelirKaynağı" class="text-danger"></span>
    </div>
    <div class="form-group" id="otherInput" style="display: none;">
        <label for="otherGelirKaynağı">Diğer Gelir Kaynağı:</label>
        <input type="text" class="form-control" id="otherGelirKaynağı" />
    </div>
    <div class="form-group">
        <label asp-for="IsDüzenli"></label>
        <input asp-for="IsDüzenli" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function showOtherInput(select) {
            const otherInput = document.getElementById('otherInput');
            if (select.value === 'Diğer') {
                otherInput.style.display = 'block';
            } else {
                otherInput.style.display = 'none';
            }
        }
    </script>
}
